/* root, navbar, footer, main section */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #212121;
}

#root{
    /* background-color: black; */
}

#main{
    /* background-color: blue; */
    /* height: 100px; */
    min-height: calc(100vh - 80px);
}

#footer{
    background-color: rgb(0, 255, 0);
    height: 60px;
}

