:root {
  --theme-main: #ff6bb5;
  --theme-main-2: #4ecdd4;
  --theme-main-2: hotpink;
  --theme-bg-light: #ffd4f7;
  --theme-bg-dark: #091919;
  /* --theme-main: #FF69B4;
  --theme-main-2: #FF6969;
  --theme-bg-light: #FF69FF;
  --theme-bg-dark: #091919; */
  --theme-main-2: rgb(198, 77, 255);
  --theme-main: rgb(182, 26, 255);
  --theme-bg-light: rgb(214, 128, 255);
  --theme-bg-dark: #091919;

  /* rgb(255, 26, 140)
  rgb(255, 77, 166)
  rgb(255, 128, 191) */
}

#main {
  /* background: gray; */
  height: calc(100% - 120px);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

#root::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #0000007d;
  background: linear-gradient(0deg, black, transparent);
  background: #000000a8;
  position: absolute;
  backdrop-filter: blur(2px);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* Prevent scrolling on the whole page */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* height: 100vh; */
  background-color: #00040e;
  background-color: #212428;
  /* background-color: #e3ecff;
  
    background: url('../imgs/wallpaper3.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;

  /* #000000c2 */

  position: absolute;
  /* overflow: hidden; */
  width: 100vw;


  width: 100vw;
  /* height: 100vh; */
}

#footer{
  height: 60px;
  position: relative;
  /* z-index: 2; */
  bottom: 0;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* #footer div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

#footer span{
  color: red;
}

/* 1st phase */
/* .deco1{
    position: absolute;
    top: -250px;
    right: -160px;
    height: 1040px;
    width: 1040px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deco2{
    position: absolute;
    bottom: -400px;
    left: -250px;
    height: 820px;
    width: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

@media screen and (max-width: 768px) {
  #root {
    /* overflow: hidden; */
    overflow-x: hidden;
  }

  #root::before {
    background-position-x: -200px;
  }

}